CompileFlags:
  Add: /clang:-std=c++23
  CompilationDatabase: build/
  # For nested build structure, clangd will search subdirectories
  # Alternatively, create a symlink: cd build && ln -s linux-gcc-debug/compile_commands.json
