# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build files
out
build
bin

# Editors
.sln
.vcxproj
.vs
.vscode
.zed
.cache

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
_deps
CMakeSettings.json
CMakeUserPresets.json

# CPM
.cpm_cache

# Python
*.pyc
__pycache__

# Docs
docs/doxygen/html

# Logs
Logs
logs
*.log

# SPIR-V
*.spv
